rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to user-specific documents
    match /users/{userId} {
      match /diaries/{diaryId} {
        allow read, write, update: if request.auth != null && request.auth.uid == userId;
      }
      match /images/{imageId} {
        allow read, write, update: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}